/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*Start global Classes*/

   /* main width */
   main section
   {
     width: 100%;
     background-color: #F5F5DC;
     padding: 10px 0;
   }
   /* width div (main/section) */
   main section div
   {
     width: 100%;
     margin: 0 auto;
   }
   /* width youtube link index */
   div iframe
   {
     width: 100%;
   }
   .pprestation
   {
     text-align: center;
   }
   /* size img index page */
   .imgindex
   {
     width: 50%;
     height: 60%;
   }
   /* width main page produits2 */
   .mainproduits2
   {
     width: 100%;
     background-color: #F5F5DC;
     margin: 0 auto;
     padding-bottom: 10px;
     padding-top: 18px;
   }
   /* main page magasin  */
   main article
   {
     width: 98%;
     margin: 0 auto;
     background-color: #F5F5DC;
     text-align: justify;
     padding: 0 5px;
   }
   /* width youtube link */
   main article iframe
   {
     width: 100%;
   }
   /* ===============end global classes */


   /* =====================================start commun rules */

   /* font kyudoshp */
   h1
   {
     font-family: 'Quicksand', sans-serif;
   }
   h2, h3, h4
   {
     font-family: 'Alegreya Sans', sans-serif;
   }
   label, legend
   {
     font-family: 'Roboto Condensed', sans-serif;
   }
   p
   {
     font-family: 'Work Sans', sans-serif;
   }
   /* delette  */
   .ghost
   {
     display: none;
   }
   /* border  */
   .border
   {
     border: 0.5px black solid;
     text-align: center;
   }
   /* height and width pictures */
   img
   {
     width: 100%;
     height: 100%;
   }
   /* txt center */
   h1, h3, h2
   {
     text-align: center;
     margin: 0  0;
     padding-bottom: 10px;
     background-color: #F5F5DC;
   }
   /* list style type  */
   ul
   {
     list-style-type: none;
     padding-left: 0px;
   }
   /* link deco */
   a
   {
     text-decoration: none;
     color: #808080;
   }
   /* table css */
   table
   {
     border-collapse: collapse;
     margin: 0 auto;
     margin-bottom: 5px;
     background-color: white;
   }
   /* grid table page prestation */
   td, th
   {
     border: 1px solid black;
   }
   /* title table */
   caption
   {
     margin: 3px 0;
   }
   /* margin li  */
   main ul li
   {
     margin: 5px 5px;
   }
   /* button buy product */
   .buybtn
   {
     background-color: #FFE4E1;
     color: black;
     padding: .4em 1em;
     border-radius: 8px;
     box-shadow: 1px 1px 0px black;
   }
   /* width produits page  */
   .widthproduitdetail
   {
     width: 100%;
     background-color: #F5F5DC;
     margin: auto;
   }
   /* flexbox contact page */
   .flexcontact
   {
     display: flex;
     background-color: #FAEBD7;
     width: 98%;
     margin: 10px auto;
     border: 1px black solid;
   }
   /*============================= end commun rules */


   /*=================================== Start Header style*/

   header
   {
     background-color: #FDF5E6;
   }
   h1
   {
     background-color: #FDF5E6;
   }
   /* flexbox nav  */
   nav ul
   {
     height: 3.5vh;
     width: 95%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     margin-left: 10px;
   }
   /* button nav */
   nav ul li a
   {
     color: black;
     padding: .6em .6em;
     border-radius: 12px;
     background-color: #FAEBD7;
   }
   /* nav width */
   nav
   {
     width: 100%;
   }
   /*=====================================End header style*/

   /*================================================== Start footer style*/

   /* footer font size  */
   footer section h3
   {
     font-size: 1em;
     background-color: #FAEBD7;
     margin: 0 0;
   }
   /* footer ul position and width */
   footer ul
   {
     background-color: #FDF5E6;
     width: 98s%;
     padding-left: 0;
     margin: auto;
   }

   /*=====================================================End footer style*/

   /* Start produits.html*/
   /* pict size  */
   .imgproduct
   {
     width: 40%;
     height: 40%;
     text-align: center;
   }
   /* main produits.html flexbox */
   .flexproduct
   {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   }
   /* width main produits.html */
   .mainproduct
   {
     background-color: #F5F5DC;
     width: 100%;
     margin: 0 auto;
   }
   /*End index main style*/

   /* ============================start 640px resolution tablette  */
   @media screen and (min-width: 640px)
   {
    .ghost
    {
      display: inline;
    }
    nav ul
    {
      display: flex;
      width: 65%;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    nav ul li
    {
      margin: 0 7px;
      justify-content: center;
    }
    nav ul li a
    {
      box-shadow: 2px 2px 1px black;
    }
    .ghost2
    {
      display: none;
    }
    .mainproduct
    {
      width: 98%;
    }

    .imgproduct
    {
      width: 25%;
      height: 25%;
    }
    .mainproduits2
    {
      width: 98%;
    }
    .flexcontact
    {
      width: 80%;
    }

    }





   /* Start contact main style*/

   /*End contact main style*/

   /* Start biographie main style*/

   /*End biographie main style*/











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
